.menu-titles {
  display: flex;
  flex-direction: row;
}

.menu-titles .left-align {
  margin: 0 8px; /* Optional: Adjust margin between titles */
}

.custom-title-1 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-size: 23pt;
  font-weight: 700;
  font-style: normal;
}

.icon-menu{
  font-size: 30px;
  margin: 0 20px 0 0;
}

.tools-mobile{
  display: none;
}

@media (max-width: 525px) {
  .tools-web {
    display:none;
  }
  .tools-mobile {
    display: block;
  }
}