<ion-toolbar>
  <div class="menu-titles">
    <ion-title class="left-align custom-title-1">PLANNING POKER {{ gameName.length ? ' - '+ this.gameName : "" }}</ion-title>
    <div class="tools-web">
      <ion-icon id="share-content" name="share-social-sharp" (click)="openFirstMenu('share')" class="icon-menu"></ion-icon>
      <ion-icon id="settings-content" name="settings-sharp" class="icon-menu" (click)="openFirstMenu('settings')"></ion-icon>
      <ion-icon id="group-content" name="people-sharp" class="icon-menu" (click)="openFirstMenu('group')"></ion-icon>
      <ion-icon id="user-content" name="person-sharp" class="icon-menu" (click)="openFirstMenu('user')"></ion-icon>
    </div>
    <div class="tools-mobile">
      <ion-icon id="mobile-content" name="menu-sharp" (click)="openFirstMenu('mobile')" class="icon-menu"></ion-icon>
    </div>
  </div>
</ion-toolbar>
